<button (click)="openDialog()">Open Dialog</button>
<button (click)="openDialogComponent()">Open Dialog Component</button>
<ng-template #template>
    <div class="dialog">
        <h3>Title of the component</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, tempore ad consequuntur modi aspernatur facere totam in possimus sit impedit dicta illo vero dolore earum iusto? Optio mollitia commodi sit!</p>
        <button csCloseDialog>Close</button>
    </div>
</ng-template>